#datainput {
    margin-right: auto;
    margin-left: auto;
    width: 600px;
}

#addText {
    margin: 10px;
    text-align: center;
}
#coordCanvasRapper {
    margin: 20px;
    text-align: center;
}

#coordCanvas {
    border: 1px solid black;
}

.refractiveLabel {
    font-size: large;
}

#numberText,
#refractiveSelect1,
#refractiveSelect2 {
    font-size: large;
}

#startButton {
    width: 100px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    background-color: #eee;
    font-weight: bold;
    font-size: large;
}

/* type=number スピンを消す */
.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;     /* Chrome, Safari */
    margin: 0;                    /* Chrome, Safari */
}

/*
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
*/
