/*
*, *::before, *::after {
  box-sizing: border-box;
}
*/
html, body {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: left;    /*center*/
    align-items: top;         /*center*/
    margin: 0;
    color: #dee2e6;
    background-color: #212529;
    font-family: 'Hind', sans-serif;
    text-transform: uppercase;
}

.container {
    position: relative;
    line-height: 0;
}

.score {
    position: absolute;
    top: 10px;
    line-height: 1;
}

.score span {
    font-size: 3.25rem;
}

.current-score {
    left: 10px;
}

.high-score {
    text-align: right;
    right: 10px;
}

/* responsive scaling, because pinball tables are tall */
@media (min-height: 0px) {
    .container { transform: scale(0.25); }
}
@media (min-height: 400px) {
    .container { transform: scale(0.5); }
}
@media (min-height: 600px) {
    .container { transform: scale(0.75); }
}
@media (min-height: 800px) {
    .container { transform: scale(1); }
}
